/********* Form styles ********/
.form { width: 100%; }
.form .form-group {
  display: flex;
  margin-bottom: 8px;
}
.form .form-group .form-label {
  font-size: 14px;
  width: 25%;
}
.form .form-group input {
  width: 75%;
}
.form .form-btn {
  border: 1px solid #001f3f;
  background-color: #0074D9;
  color: #FFFFFF;
}
.form .form-btn:hover {
  background: #001f3f;
  cursor: pointer;
}

/******** Mission Display Styles ********/
#mission-display .mission {
  margin-bottom: 10px;
}

#mission-display .mission .name {
  font-size: 16px;
  font-weight: bold;
}

#mission-display .mission .desc {
  font-size: 14px;
}

#mission-display .mission .author {
  font-size: 14px;
  text-align: right;
}

#mission-display .mission .version {
  font-size: 14px;
  font-weight: 300;
}

#mission-display .mission .version:before {
  content: "Version: ";
}