/************ OTHER STUFF *************/
#main-body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
#internal-body {
  display: none;
  flex-grow: 1;
  padding: 1.5rem 3%;
}

/********* LOADING SCREEN *********/
#notification {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}
#notification div {margin: 5px;}
#notification #notification-textarea {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  flex-grow: 1;
}
#notification #notification-textarea .notification{
  font-family: 'Courier New';
  font-size: 12px;
}
