<div id="settings-form">
  <div class="field is-horizontal">
    <div class="field-label is-small">
      <label class="label">GTA SA Directory:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input id="sa-directory" class="input" type="text" placeholder="GTA SA Directory">
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-small">
      <label class="label">GTA SA Scripts Directory:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input id="sa-scripts" class="input" type="text" placeholder="GTA SA Scripts Directory">
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-small">
      <label class="label">GTA SA Text Directory:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input id="sa-texts" class="input" type="text" placeholder="GTA SA Text Directory">
        </div>
      </div>
    </div>
  </div>
  <div id="save-settings-wrapper">
    <a id="save-settings" class="button is-link is-rounded">
      <i class="fas fa-save"></i>&nbsp;&nbsp;Save Settings
    </a>
  </div>
</div>
