<div class="form">
  <div class="form-group">
    <div class="form-label">GTA SA Directory: </div>
    <input type="text" id="sa-directory" />
  </div>
  <div class="form-group">
    <div class="form-label">GTA SA Scripts Directory: </div>
    <input type="text" id="sa-scripts" />
  </div>
  <div class="form-group">
    <div class="form-label">GTA SA Text Directory: </div>
    <input type="text" id="sa-texts" />
  </div>
  <button id="save-settings" class="form-btn">Save Settings</button>
</div>
